.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25vmin;
}

.App-header {
  background-color: #2194b0;
  min-height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2.left {
  position: absolute;
  top: 25px;
  left: -250px;
  width: 100%;
}

h2.right {
  position: absolute;
  top: 25px;
  left: 250px;
  width: 100%;
}

h2 p {
   color: white;
   line-height: 42px;
   text-align: center;
   font-size: calc(45px + 1vmin);
   letter-spacing: -1px;
   padding: 10px;
}

#text {
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: calc(10px + 1vmin);
    letter-spacing: -1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
